
table{
    text-align: center;
    color: aliceblue;
}
ul{
    color: aliceblue;
     
}
li{
    color: darkred;
}
a{
    color: aliceblue;
}
img{
    text-align: center;
}
pre{
    color: aliceblue;
    
}